.App {
  font-family: Poppins;
  text-align: center;
}

body {
  margin: 0px;
}

i {
  color: white
}

.flex-wrapper {
  display: flex;
}

.block-wrapper {
  display: block;
}

.center-wrapper {
  align-items: center;
}

.absoulte-position {
  position: absolute;
}

.relative-position {
  position: relative;
}

.curser-pointer {
  cursor: pointer;
}

.center-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-color {
  color: red;
}